*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
}
.cardtext{
    display: none;
}
.carta:hover .cardtext{
    display: block;
    color: purple;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}
.cardtext2{
    display: block;
    color: purple;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}
.carta{
    height: 220px;
    width: 180px;
    background-color: coral;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-size:100%;
    border-radius: 5%;
}
.cartascoperta{
    height: 220px;
    width: 180px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;;
    background-image: url(img/noun_air_balloon_3134741.png);
    border-radius: 5%;
    background-position: 50% 25%;
    background-size: 75%;
    background-repeat: no-repeat;
}
.centro{
    text-align: center;
}
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.containercarte{
    width: 850px;
    height: 750px;
}
footer{
    padding: 10px 0 20px 0;
}
.general{
    width: 850px;
    margin: auto;
}
header{
    padding-top: 50px;
}
.headerfont{
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
.riga > *{
    float: left;
}

/* hover vari */
.air_balloon:hover{
    background-color: white;
    background-image: url(img/noun_air_balloon_3134741.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}
.bicycle:hover{
    background-color: white;
    background-image: url(img/noun_Bicycle_3134821.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}
.cruise_ship:hover{
    background-color: white;
    background-image: url(img/noun_Cruise_Ship_3134824.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}
.submarine:hover{
    background-color: white;
    background-image: url(img/noun_Submarine_3134738.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}
.tractor:hover{
    background-color: white;
    background-image: url(img/noun_Tractor_3134797.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}
.tram:hover{
    background-color: white;
    background-image: url(img/noun_Tram_3134750.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75%;
}



